<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD3f1gZ7Qk5JQ5Ly8LvC7ZpX8nxtLFVJo</string>
	<key>GCM_SENDER_ID</key>
	<string>1065625390390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cartify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cartify-7444c</string>
	<key>STORAGE_BUCKET</key>
	<string>cartify-7444c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065625390390:ios:1e2ab7e9c536e7f0adf797</string>
</dict>
</plist>